.containerWrapper {
  padding-top: 5rem;
  padding-bottom: 2rem;

  &__box {
    display: flex;
    //flex-direction: isMobile ? "column" : "row",
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  &__boxDesktop {
    min-height: 75vh;
    display: flex;

    flex-direction: row;
    justify-content: center;
  }

  &__text {
    width: "100%";
    padding-top: 3.5rem;
  }
}
