.footerWrapper {
  min-height: 125px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media only screen and (min-width: 800px) {
    flex-direction: row;

    justify-content: space-around;
  }

  &__contacts {
    @media only screen and (min-width: 800px) {
      flex-direction: column;
      flex-wrap: wrap;
      //width: 20%;
      text-align: start;
    }
  }
  &__freeText {
    @media only screen and (min-width: 800px) {
      width: 50%;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 800px) {
      //width: 20%;
    }
  }
}
