.productListWrapper {
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  display: inline-block;

  &__buttonContainer {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0 0;
  }

  &buttonContainer__filterButtons {
    width: 50%;
  }
}
