.navbar {
  background-color: transparent;
  box-shadow: none;

  &__anchor {
    display: flex;
    justify-content: flex-end;
    top: 0;
    @media only screen and (min-width: 800px) {
      justify-content: space-between;
    }
  }

  &--icon {
    margin-right: 0;
  }
}

.flex {
  text-decoration: none;
  text-align: center;
}

.desktopLinks {
  top: 0;
  right: 0;
}
