.navbar {
  background-color: transparent;
  box-shadow: none;
  //position: relative;

  &__anchor {
    display: flex;
    justify-content: flex-end;
    // position: absolute;
    top: 0;
  }

  &--icon {
    margin-right: 0;
  }
}

.flex {
  text-decoration: none;
}

.desktopLinks {
  //position: absolute;
  top: 0;
  right: 0;
}
